  html, body {
    display: inline-block;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: lightblue;
  }

  .container1{
    height: 100%;
    width: 67%;
    padding: 0;
    margin: 0;
    display: inline-block;
    float: left;
    position: relative;
  }

  #map {
    height: 94%;
  }

  #cityInput{
    height:4%;
    width: 40%;
    display: inline-block;
    border: 1px solid black;
    font-size: 20px;
  }

  #flickrAndWeather{
    height:4%;
    width: 15%;
    display: inline-block;
    font-size: 15px;
    border: 1px solid black;
  }

  .search{
    display: inline-block;
  }

  .container2{
    font-size: 40px;
    height: 100%;
    width: 33%;
    margin-top: 0%;
    margin-left: 0%;
    display: inline-block;
    float: right;
    font-family: cursive,sans-serif;
    position: absolute;
    border: 1px solid black;
  }

  .flickr{
    height: 20%;
    width:100%;
    background-image: url("./images/irvine-spectrum-center-irvine-ca.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid black;
  }

  .weather{
    background-color: lightblue;
    display: inline-block;
    background-size: cover;
    background-position: center;
    margin-left: 10%;
    font-family: cursive,sans-serif;
    font-size: 100%;
  }

  .yelp{
    height: 78vh;
    overflow-y: scroll;
    width:100%;
    margin-top: 0%;
  }

  #templates{
    display: none;
  }

  .businessContainer{
    border-bottom: 1px solid black;
    height: 20vh;
    width: 100%;
    background-color: white;
    font-size: 1rem;
    text-align: center;
  }

  .businessContainer .name{
    font-weight: bold;
    font-size: 120%;
  }

  .businessContainer:nth-child(even){
    background-color: lightgrey;
  }

  .businessContainer .priceRatingContainer{
    display: flex;
  }

  .priceRatingContainer > *{
    width: 100%;
  }

  .businessContainer .locationInfo{
    font-weight: bold;
  }

  .imageContainer{
    height: 20vmin;
    width: 20vmin;
    background-size: 100% 100%;
    float: left;
  }

  .flickrImage {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
